body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../企业资质注册流程_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:490px;
    top:166px;
    width:174px;
    height:45px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u1 {
    position:absolute;
    left:2px;
    top:14px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../企业资质注册流程_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:524px;
    top:238px;
    width:101px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../企业资质注册流程_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:449px;
    top:317px;
    width:101px;
    height:35px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../企业资质注册流程_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:586px;
    top:317px;
    width:101px;
    height:35px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../企业资质注册流程_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:426px;
    top:385px;
    width:150px;
    height:36px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../企业资质注册流程_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:474px;
    top:702px;
    width:201px;
    height:29px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:35px;
}

.u11 {
    position:absolute;
    left:2px;
    top:6px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_end {
    background-image: url('../企业资质注册流程_files/u12_end.png');
}

.u12_end {
    position:absolute;
    left:-5px;
    top:19px;
    width:20px;
    height:14px;
}

.u12_line {
    background-image: url('../企业资质注册流程_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:28px;
}

.u12 {
    position:absolute;
    left:564px;
    top:211px;
    width:10px;
    height:28px;
    
}

.u13_line {
    background-image: url('../企业资质注册流程_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:147px;
    height:3px;
}

.u13 {
    position:absolute;
    left:493px;
    top:294px;
    width:147px;
    height:10px;
    
}

.u14_end {
    background-image: url('../企业资质注册流程_files/u14_end.png');
}

.u14_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u14_line {
    background-image: url('../企业资质注册流程_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u14 {
    position:absolute;
    left:565px;
    top:283px;
    width:10px;
    height:14px;
    
}

.u15_end {
    background-image: url('../企业资质注册流程_files/u15_end.png');
}

.u15_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u15_line {
    background-image: url('../企业资质注册流程_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u15 {
    position:absolute;
    left:635px;
    top:300px;
    width:10px;
    height:14px;
    
}

.u16_end {
    background-image: url('../企业资质注册流程_files/u16_end.png');
}

.u16_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u16_line {
    background-image: url('../企业资质注册流程_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u16 {
    position:absolute;
    left:488px;
    top:300px;
    width:10px;
    height:14px;
    
}

.u17_end {
    background-image: url('../企业资质注册流程_files/u17_end.png');
}

.u17_end {
    position:absolute;
    left:-5px;
    top:23px;
    width:20px;
    height:14px;
}

.u17_line {
    background-image: url('../企业资质注册流程_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:32px;
}

.u17 {
    position:absolute;
    left:489px;
    top:353px;
    width:10px;
    height:32px;
    
}

.u18_end {
    background-image: url('../企业资质注册流程_files/u18_end.png');
}

.u18_end {
    position:absolute;
    left:-5px;
    top:17px;
    width:20px;
    height:14px;
}

.u18_line {
    background-image: url('../企业资质注册流程_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u18 {
    position:absolute;
    left:490px;
    top:421px;
    width:10px;
    height:26px;
    
}

.u19 {
    position:absolute;
    left:489px;
    top:773px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../企业资质注册流程_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:377px;
    top:470px;
    width:101px;
    height:35px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../企业资质注册流程_files/u4_normal.png');
}

.u22_container {
    position:absolute;
    left:514px;
    top:470px;
    width:101px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../企业资质注册流程_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:147px;
    height:3px;
}

.u24 {
    position:absolute;
    left:421px;
    top:447px;
    width:147px;
    height:10px;
    
}

.u25_end {
    background-image: url('../企业资质注册流程_files/u25_end.png');
}

.u25_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u25_line {
    background-image: url('../企业资质注册流程_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u25 {
    position:absolute;
    left:563px;
    top:453px;
    width:10px;
    height:14px;
    
}

.u26_end {
    background-image: url('../企业资质注册流程_files/u26_end.png');
}

.u26_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u26_line {
    background-image: url('../企业资质注册流程_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u26 {
    position:absolute;
    left:416px;
    top:453px;
    width:10px;
    height:14px;
    
}

.u27_end {
    background-image: url('../企业资质注册流程_files/u27_end.png');
}

.u27_end {
    position:absolute;
    left:-5px;
    top:32px;
    width:20px;
    height:14px;
}

.u27_line {
    background-image: url('../企业资质注册流程_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:41px;
}

.u27 {
    position:absolute;
    left:564px;
    top:505px;
    width:10px;
    height:41px;
    
}

.u28_line {
    background-image: url('../企业资质注册流程_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:15px;
    height:3px;
}

.u28 {
    position:absolute;
    left:362px;
    top:482px;
    width:15px;
    height:10px;
    
}

.u29_line {
    background-image: url('../企业资质注册流程_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:223px;
}

.u29 {
    position:absolute;
    left:357px;
    top:264px;
    width:10px;
    height:223px;
    
}

.u30_end {
    background-image: url('../企业资质注册流程_files/u30_end.png');
}

.u30_end {
    position:absolute;
    left:146px;
    top:-5px;
    width:14px;
    height:20px;
}

.u30_line {
    background-image: url('../企业资质注册流程_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:155px;
    height:3px;
}

.u30 {
    position:absolute;
    left:271px;
    top:-46px;
    width:155px;
    height:10px;
    
}

.u31_end {
    background-image: url('../企业资质注册流程_files/u31_end.png');
}

.u31_end {
    position:absolute;
    left:153px;
    top:-5px;
    width:14px;
    height:20px;
}

.u31_line {
    background-image: url('../企业资质注册流程_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:162px;
    height:3px;
}

.u31 {
    position:absolute;
    left:362px;
    top:259px;
    width:162px;
    height:10px;
    
}

.u32_line {
    background-image: url('../企业资质注册流程_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u32 {
    position:absolute;
    left:717px;
    top:192px;
    width:10px;
    height:143px;
    
}

.u33_line {
    background-image: url('../企业资质注册流程_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u33 {
    position:absolute;
    left:687px;
    top:330px;
    width:34px;
    height:10px;
    
}

.u34_start {
    background-image: url('../企业资质注册流程_files/u34_start.png');
}

.u34_start {
    position:absolute;
    left:-4px;
    top:-5px;
    width:14px;
    height:20px;
}

.u34_line {
    background-image: url('../企业资质注册流程_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:57px;
    height:3px;
}

.u34 {
    position:absolute;
    left:664px;
    top:186px;
    width:57px;
    height:10px;
    
}

.u35_normal {
    background-image: url('../企业资质注册流程_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:324px;
    top:353px;
    width:75px;
    height:68px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:74px;
}

.u36 {
    position:absolute;
    left:2px;
    top:26px;
    width:71px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../企业资质注册流程_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:19px;
    height:3px;
}

.u37 {
    position:absolute;
    left:305px;
    top:381px;
    width:19px;
    height:10px;
    
}

.u38_line {
    background-image: url('../企业资质注册流程_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:199px;
}

.u38 {
    position:absolute;
    left:300px;
    top:186px;
    width:10px;
    height:199px;
    
}

.u39_end {
    background-image: url('../企业资质注册流程_files/u39_end.png');
}

.u39_end {
    position:absolute;
    left:177px;
    top:-5px;
    width:14px;
    height:20px;
}

.u39_line {
    background-image: url('../企业资质注册流程_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:0px;
    top:4px;
    width:186px;
    height:3px;
}

.u39 {
    position:absolute;
    left:304px;
    top:181px;
    width:186px;
    height:10px;
    
}

.u40 {
    position:absolute;
    left:369px;
    top:268px;
    width:49px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:324px;
    top:169px;
    width:49px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../企业资质注册流程_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:508px;
    top:548px;
    width:125px;
    height:36px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:42px;
}

.u43 {
    position:absolute;
    left:2px;
    top:10px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../企业资质注册流程_files/u42_normal.png');
}

.u44_container {
    position:absolute;
    left:512px;
    top:615px;
    width:125px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_end {
    background-image: url('../企业资质注册流程_files/u46_end.png');
}

.u46_end {
    position:absolute;
    left:-5px;
    top:21px;
    width:20px;
    height:14px;
}

.u46_line {
    background-image: url('../企业资质注册流程_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:30px;
}

.u46 {
    position:absolute;
    left:563px;
    top:584px;
    width:10px;
    height:30px;
    
}

.u47_end {
    background-image: url('../企业资质注册流程_files/u47_end.png');
}

.u47_end {
    position:absolute;
    left:-5px;
    top:42px;
    width:20px;
    height:14px;
}

.u47_line {
    background-image: url('../企业资质注册流程_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:51px;
}

.u47 {
    position:absolute;
    left:563px;
    top:651px;
    width:10px;
    height:51px;
    
}

