body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../建造师初始注册申报_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:43px;
    top:39px;
    width:922px;
    height:27px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:33px;
}

.u1 {
    position:absolute;
    left:2px;
    top:6px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../建造师初始注册申报_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:43px;
    top:66px;
    width:922px;
    height:71px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:77px;
}

.u3 {
    position:absolute;
    left:2px;
    top:28px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:125px;
    top:88px;
    width:528px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:687px;
    top:90px;
    width:165px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 14px;
    color:#6B6B6B;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_container {
    position:absolute;
    left:865px;
    top:88px;
    width:54px;
    height:27px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:761px;
    top:45px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:797px;
    top:45px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../建造师初始注册申报_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:43px;
    top:138px;
    width:922px;
    height:31px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:37px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:446px;
    top:145px;
    width:105px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:101px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../建造师初始注册申报_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:42px;
    top:175px;
    width:166px;
    height:831px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:837px;
}

.u15 {
    position:absolute;
    left:2px;
    top:408px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../建造师初始注册申报_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:43px;
    top:1011px;
    width:928px;
    height:10px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:934px;
    height:16px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-3px;
    width:924px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../建造师初始注册申报_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:43px;
    top:1023px;
    width:928px;
    height:39px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:934px;
    height:45px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:924px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:16px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../建造师初始注册申报_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:534px;
}

.u26 {
    position:absolute;
    left:203px;
    top:205px;
    width:10px;
    height:534px;
    
}

.u27_line {
    background-image: url('../建造师初始注册申报_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:762px;
    height:3px;
}

.u27 {
    position:absolute;
    left:203px;
    top:212px;
    width:762px;
    height:10px;
    
}

.u28_line {
    background-image: url('../建造师初始注册申报_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:835px;
}

.u28 {
    position:absolute;
    left:960px;
    top:171px;
    width:10px;
    height:835px;
    
}

.u29_line {
    background-image: url('../建造师初始注册申报_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:760px;
    height:3px;
}

.u29 {
    position:absolute;
    left:206px;
    top:1001px;
    width:760px;
    height:10px;
    
}

.u30 {
    position:absolute;
    left:888px;
    top:145px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:811px;
    top:145px;
    width:81px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../建造师初始注册申报_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:209px;
    top:194px;
    width:84px;
    height:23px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:29px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../建造师初始注册申报_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:745px;
    top:41px;
    width:219px;
    height:22px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:22px;
}

.u35 {
    position:absolute;
    left:2px;
    top:3px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:733px;
    top:145px;
    width:81px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../建造师初始注册申报_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:219px;
    top:139px;
    width:108px;
    height:30px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:104px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:153px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../建造师初始注册申报_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:948px;
    top:222px;
    width:17px;
    height:784px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:784px;
}

.u41 {
    position:absolute;
    left:2px;
    top:384px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../建造师初始注册申报_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:43px;
    top:176px;
    width:166px;
    height:561px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:561px;
}

.u43 {
    position:absolute;
    left:2px;
    top:272px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../建造师初始注册申报_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:235px;
    top:222px;
    width:671px;
    height:651px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:671px;
    height:651px;
}

.u45 {
    position:absolute;
    left:2px;
    top:318px;
    width:667px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../建造师初始注册申报_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:383px;
    top:965px;
    width:77px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../建造师初始注册申报_files/u46_normal.png');
}

.u48_container {
    position:absolute;
    left:490px;
    top:965px;
    width:77px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../建造师初始注册申报_files/u46_normal.png');
}

.u50_container {
    position:absolute;
    left:594px;
    top:966px;
    width:77px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../建造师初始注册申报_files/u46_normal.png');
}

.u52_container {
    position:absolute;
    left:694px;
    top:966px;
    width:77px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../建造师初始注册申报_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:223px;
    top:878px;
    width:463px;
    height:76px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:463px;
    height:76px;
}

.u57 {
    position:absolute;
    left:2px;
    top:30px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../建造师初始注册申报_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:296px;
    top:194px;
    width:95px;
    height:22px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:28px;
}

.u59 {
    position:absolute;
    left:2px;
    top:3px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../建造师初始注册申报_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:865px;
    top:187px;
    width:72px;
    height:17px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:23px;
}

.u61 {
    position:absolute;
    left:2px;
    top:1px;
    width:68px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../建造师初始注册申报_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:0px;
    top:4px;
    width:71px;
    height:3px;
}

.u62 {
    position:absolute;
    left:782px;
    top:200px;
    width:71px;
    height:10px;
    
}

.u63 {
    position:absolute;
    left:747px;
    top:189px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:552px;
    top:145px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../建造师初始注册申报_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:147px;
    top:171px;
    width:278px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:284px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../建造师初始注册申报_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:149px;
    top:172px;
    width:96px;
    height:17px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:23px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:249px;
    top:174px;
    width:91px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:340px;
    top:174px;
    width:91px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:340px;
    top:145px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:627px;
    top:145px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

