body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../流程定制呈现样例_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:43px;
    top:39px;
    width:922px;
    height:27px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:33px;
}

.u1 {
    position:absolute;
    left:2px;
    top:6px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../流程定制呈现样例_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:43px;
    top:66px;
    width:922px;
    height:71px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:77px;
}

.u3 {
    position:absolute;
    left:2px;
    top:28px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:133px;
    top:89px;
    width:439px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:640px;
    top:89px;
    width:222px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 14px;
    color:#6B6B6B;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_container {
    position:absolute;
    left:870px;
    top:88px;
    width:54px;
    height:27px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:761px;
    top:45px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../流程定制呈现样例_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u9 {
    position:absolute;
    left:788px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u10 {
    position:absolute;
    left:797px;
    top:45px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../流程定制呈现样例_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u11 {
    position:absolute;
    left:850px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u12 {
    position:absolute;
    left:859px;
    top:45px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../流程定制呈现样例_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u13 {
    position:absolute;
    left:884px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u14 {
    position:absolute;
    left:894px;
    top:45px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../流程定制呈现样例_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u15 {
    position:absolute;
    left:920px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u16 {
    position:absolute;
    left:930px;
    top:45px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../流程定制呈现样例_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:43px;
    top:138px;
    width:922px;
    height:31px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:37px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:404px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:500px;
    top:146px;
    width:97px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:125px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../流程定制呈现样例_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:42px;
    top:175px;
    width:151px;
    height:564px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:570px;
}

.u23 {
    position:absolute;
    left:2px;
    top:274px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../流程定制呈现样例_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:43px;
    top:749px;
    width:922px;
    height:10px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-3px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../流程定制呈现样例_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:43px;
    top:760px;
    width:922px;
    height:39px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:45px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../流程定制呈现样例_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:43px;
    top:175px;
    width:150px;
    height:29px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:35px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../流程定制呈现样例_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:534px;
}

.u36 {
    position:absolute;
    left:198px;
    top:205px;
    width:10px;
    height:534px;
    
}

.u37_line {
    background-image: url('../流程定制呈现样例_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:758px;
    height:3px;
}

.u37 {
    position:absolute;
    left:203px;
    top:200px;
    width:758px;
    height:10px;
    
}

.u38_line {
    background-image: url('../流程定制呈现样例_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:534px;
}

.u38 {
    position:absolute;
    left:956px;
    top:205px;
    width:10px;
    height:534px;
    
}

.u39_line {
    background-image: url('../流程定制呈现样例_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:0px;
    top:4px;
    width:758px;
    height:3px;
}

.u39 {
    position:absolute;
    left:204px;
    top:734px;
    width:758px;
    height:10px;
    
}

#u40 {
    position:absolute;
    left:45px;
    top:207px;
    width:146px;
    height:533px;
    overflow:hidden;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:533px;
    
}

.u41_normal {
    background-image: url('../流程定制呈现样例_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:-1px;
    top:-32px;
    width:146px;
    height:558px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:564px;
}

.u42 {
    position:absolute;
    left:2px;
    top:271px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../流程定制呈现样例_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:3px;
    top:422px;
    width:140px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:3px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../流程定制呈现样例_files/u43_normal.png');
}

.u45_container {
    position:absolute;
    left:3px;
    top:391px;
    width:140px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:3px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../流程定制呈现样例_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:3px;
    top:453px;
    width:140px;
    height:28px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:34px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../流程定制呈现样例_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1px;
    top:4px;
    width:142px;
    height:377px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:383px;
}

.u50 {
    position:absolute;
    left:2px;
    top:180px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../流程定制呈现样例_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:2px;
    top:6px;
    width:138px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:5px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_selected {
    background-image: url('../流程定制呈现样例_files/u55_selected.png');
}

.u55_normal {
    background-image: url('../流程定制呈现样例_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u56 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u57_container {
    position:absolute;
    left:22px;
    top:0px;
    width:110px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u58 {
    position:absolute;
    left:3px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u60_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u60_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u61 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u63_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u63_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u64 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u67 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u72_selected {
    background-image: url('../流程定制呈现样例_files/u55_selected.png');
}

.u72_normal {
    background-image: url('../流程定制呈现样例_files/u55_normal.png');
}

.u72_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u73 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u80_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u81 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u83_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:22px;
    top:0px;
    width:73px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u84 {
    position:absolute;
    left:3px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u86_selected {
    background-image: url('../流程定制呈现样例_files/u55_selected.png');
}

.u86_normal {
    background-image: url('../流程定制呈现样例_files/u55_normal.png');
}

.u86_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u87 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u88_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u89 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u91_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u91_container {
    position:absolute;
    left:22px;
    top:0px;
    width:13px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:26px;
}

.u92 {
    position:absolute;
    left:3px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u94_selected {
    background-image: url('../流程定制呈现样例_files/u55_selected.png');
}

.u94_normal {
    background-image: url('../流程定制呈现样例_files/u55_normal.png');
}

.u94_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u95 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u96_container {
    position:absolute;
    left:22px;
    top:0px;
    width:110px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u97 {
    position:absolute;
    left:3px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u99_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u99_container {
    position:absolute;
    left:22px;
    top:0px;
    width:13px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:26px;
}

.u100 {
    position:absolute;
    left:3px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u101 {
    position:absolute;
    left:48px;
    top:208px;
    width:142px;
    height:531px;
    overflow:hidden;
}

#pd0u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:531px;
    
}

.u102_normal {
    background-image: url('../流程定制呈现样例_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:-1px;
    top:-32px;
    width:138px;
    height:556px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:562px;
}

.u103 {
    position:absolute;
    left:2px;
    top:270px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../流程定制呈现样例_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:3px;
    top:422px;
    width:128px;
    height:25px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u105 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../流程定制呈现样例_files/u104_normal.png');
}

.u106_container {
    position:absolute;
    left:3px;
    top:391px;
    width:128px;
    height:25px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u107 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../流程定制呈现样例_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:3px;
    top:453px;
    width:128px;
    height:28px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:34px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../流程定制呈现样例_files/u108_normal.png');
}

.u110_container {
    position:absolute;
    left:3px;
    top:486px;
    width:128px;
    height:28px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:34px;
}

.u111 {
    position:absolute;
    left:2px;
    top:4px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../流程定制呈现样例_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:3px;
    top:4px;
    width:134px;
    height:346px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:352px;
}

.u113 {
    position:absolute;
    left:2px;
    top:165px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../流程定制呈现样例_files/u104_normal.png');
}

.u114_container {
    position:absolute;
    left:5px;
    top:6px;
    width:128px;
    height:25px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u115 {
    position:absolute;
    left:2px;
    top:5px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../流程定制呈现样例_files/u104_normal.png');
}

.u116_container {
    position:absolute;
    left:3px;
    top:360px;
    width:128px;
    height:25px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u117 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_selected {
    background-image: url('../流程定制呈现样例_files/u55_selected.png');
}

.u120_normal {
    background-image: url('../流程定制呈现样例_files/u55_normal.png');
}

.u120_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u121 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u122_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u123 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u125_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u125_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u126 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u128_selected {
    background-image: url('../流程定制呈现样例_files/u55_selected.png');
}

.u128_normal {
    background-image: url('../流程定制呈现样例_files/u55_normal.png');
}

.u128_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u129 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u130_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u131 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u133_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u133_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u134 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u136_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u136_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u137 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u138_normal {
    background-image: url('../流程定制呈现样例_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:202px;
    top:249px;
    width:760px;
    height:490px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:496px;
}

.u139 {
    position:absolute;
    left:2px;
    top:237px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../流程定制呈现样例_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:446px;
    top:182px;
    width:19px;
    height:16px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:22px;
}

.u141 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:471px;
    top:182px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../流程定制呈现样例_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:537px;
    top:182px;
    width:18px;
    height:16px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u144 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:565px;
    top:183px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../流程定制呈现样例_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:622px;
    top:182px;
    width:18px;
    height:16px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u147 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:650px;
    top:183px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../流程定制呈现样例_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:710px;
    top:182px;
    width:18px;
    height:16px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u150 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:738px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../流程定制呈现样例_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:218px;
    top:182px;
    width:18px;
    height:16px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u153 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:246px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../流程定制呈现样例_files/u155_normal.png');
}

.u155_container {
    position:absolute;
    left:292px;
    top:182px;
    width:18px;
    height:16px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u156 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:320px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../流程定制呈现样例_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:367px;
    top:182px;
    width:18px;
    height:16px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u159 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:395px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:626px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:820px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:723px;
    top:146px;
    width:84px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:390px;
    top:216px;
    width:372px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../流程定制呈现样例_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:230px;
    top:315px;
    width:41px;
    height:39px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:45px;
}

.u166 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../流程定制呈现样例_files/u167_normal.png');
}

.u167_container {
    position:absolute;
    left:892px;
    top:316px;
    width:42px;
    height:36px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:42px;
}

.u168 {
    position:absolute;
    left:2px;
    top:10px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../流程定制呈现样例_files/u169_normal.png');
}

.u169_container {
    position:absolute;
    left:304px;
    top:315px;
    width:96px;
    height:39px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:45px;
}

.u170 {
    position:absolute;
    left:2px;
    top:12px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../流程定制呈现样例_files/u169_normal.png');
}

.u171_container {
    position:absolute;
    left:452px;
    top:315px;
    width:96px;
    height:39px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:45px;
}

.u172 {
    position:absolute;
    left:2px;
    top:12px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../流程定制呈现样例_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:460px;
    top:403px;
    width:79px;
    height:29px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u174 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../流程定制呈现样例_files/u173_normal.png');
}

.u175_container {
    position:absolute;
    left:461px;
    top:460px;
    width:79px;
    height:29px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u176 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../流程定制呈现样例_files/u173_normal.png');
}

.u177_container {
    position:absolute;
    left:461px;
    top:516px;
    width:79px;
    height:29px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u178 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../流程定制呈现样例_files/u169_normal.png');
}

.u179_container {
    position:absolute;
    left:673px;
    top:314px;
    width:96px;
    height:39px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:45px;
}

.u180 {
    position:absolute;
    left:2px;
    top:12px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../流程定制呈现样例_files/u173_normal.png');
}

.u181_container {
    position:absolute;
    left:313px;
    top:408px;
    width:79px;
    height:29px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u182 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../流程定制呈现样例_files/u183_normal.png');
}

.u183_container {
    position:absolute;
    left:657px;
    top:370px;
    width:88px;
    height:29px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u184 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../流程定制呈现样例_files/u183_normal.png');
}

.u185_container {
    position:absolute;
    left:657px;
    top:422px;
    width:88px;
    height:29px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u186 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../流程定制呈现样例_files/u183_normal.png');
}

.u187_container {
    position:absolute;
    left:657px;
    top:470px;
    width:88px;
    height:29px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u188 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189c0 {
    background-image: url('../流程定制呈现样例_files/u189c0.png');
}

.u189c0 {
    position:absolute;
    left:267px;
    top:324px;
    width:47px;
    height:20px;
}

.u190 {
    position:absolute;
    left:-34px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191c0 {
    background-image: url('../流程定制呈现样例_files/u191c0.png');
}

.u191c0 {
    position:absolute;
    left:396px;
    top:324px;
    width:66px;
    height:20px;
}

.u192 {
    position:absolute;
    left:-24px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193c0 {
    background-image: url('../流程定制呈现样例_files/u193c0.png');
}

.u193c0 {
    position:absolute;
    left:342px;
    top:350px;
    width:20px;
    height:68px;
}

.u194 {
    position:absolute;
    left:-50px;
    top:19px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195c0 {
    background-image: url('../流程定制呈现样例_files/u195c0.png');
}

.u195c0 {
    position:absolute;
    left:490px;
    top:350px;
    width:20px;
    height:63px;
}

.u196 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197c0 {
    background-image: url('../流程定制呈现样例_files/u197c0.png');
}

.u197c0 {
    position:absolute;
    left:490px;
    top:428px;
    width:20px;
    height:42px;
}

.u198 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199c0 {
    background-image: url('../流程定制呈现样例_files/u199c0.png');
}

.u199c0 {
    position:absolute;
    left:490px;
    top:485px;
    width:20px;
    height:41px;
}

.u200 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201c0 {
    background-image: url('../流程定制呈现样例_files/u201c0.png');
}

.u201c0 {
    position:absolute;
    left:711px;
    top:349px;
    width:20px;
    height:24px;
}

.u201c1 {
    background-image: url('../流程定制呈现样例_files/u201c1.png');
}

.u201c1 {
    position:absolute;
    left:691px;
    top:353px;
    width:40px;
    height:20px;
}

.u201c2 {
    background-image: url('../流程定制呈现样例_files/u201c2.png');
}

.u201c2 {
    position:absolute;
    left:691px;
    top:353px;
    width:20px;
    height:21px;
}

.u202 {
    position:absolute;
    left:-58px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203c0 {
    background-image: url('../流程定制呈现样例_files/u203c0.png');
}

.u203c0 {
    position:absolute;
    left:691px;
    top:395px;
    width:20px;
    height:37px;
}

.u204 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205c0 {
    background-image: url('../流程定制呈现样例_files/u205c0.png');
}

.u205c0 {
    position:absolute;
    left:691px;
    top:447px;
    width:20px;
    height:33px;
}

.u206 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../流程定制呈现样例_files/u183_normal.png');
}

.u207_container {
    position:absolute;
    left:657px;
    top:526px;
    width:88px;
    height:29px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u208 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../流程定制呈现样例_files/u183_normal.png');
}

.u209_container {
    position:absolute;
    left:657px;
    top:578px;
    width:88px;
    height:29px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u210 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../流程定制呈现样例_files/u183_normal.png');
}

.u211_container {
    position:absolute;
    left:657px;
    top:631px;
    width:88px;
    height:29px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u212 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213c0 {
    background-image: url('../流程定制呈现样例_files/u213c0.png');
}

.u213c0 {
    position:absolute;
    left:691px;
    top:495px;
    width:20px;
    height:41px;
}

.u214 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215c0 {
    background-image: url('../流程定制呈现样例_files/u215c0.png');
}

.u215c0 {
    position:absolute;
    left:691px;
    top:551px;
    width:20px;
    height:37px;
}

.u216 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217c0 {
    background-image: url('../流程定制呈现样例_files/u217c0.png');
}

.u217c0 {
    position:absolute;
    left:691px;
    top:603px;
    width:20px;
    height:38px;
}

.u218 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219_normal {
    background-image: url('../流程定制呈现样例_files/u219_normal.png');
}

.u219_container {
    position:absolute;
    left:586px;
    top:317px;
    width:55px;
    height:34px;
}

#u219_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:40px;
}

.u220 {
    position:absolute;
    left:2px;
    top:9px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221c0 {
    background-image: url('../流程定制呈现样例_files/u221c0.png');
}

.u221c0 {
    position:absolute;
    left:544px;
    top:324px;
    width:52px;
    height:20px;
}

.u222 {
    position:absolute;
    left:-31px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223c0 {
    background-image: url('../流程定制呈现样例_files/u223c0.png');
}

.u223c0 {
    position:absolute;
    left:604px;
    top:270px;
    width:20px;
    height:51px;
}

.u223c1 {
    background-image: url('../流程定制呈现样例_files/u223c1.png');
}

.u223c1 {
    position:absolute;
    left:342px;
    top:270px;
    width:282px;
    height:20px;
}

.u223c2 {
    background-image: url('../流程定制呈现样例_files/u223c2.png');
}

.u223c2 {
    position:absolute;
    left:342px;
    top:270px;
    width:20px;
    height:49px;
}

.u224 {
    position:absolute;
    left:-180px;
    top:-45px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225c0 {
    background-image: url('../流程定制呈现样例_files/u225c0.png');
}

.u225c0 {
    position:absolute;
    left:637px;
    top:324px;
    width:46px;
    height:20px;
}

.u226 {
    position:absolute;
    left:-34px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227_normal {
    background-image: url('../流程定制呈现样例_files/u219_normal.png');
}

.u227_container {
    position:absolute;
    left:809px;
    top:317px;
    width:55px;
    height:34px;
}

#u227_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:40px;
}

.u228 {
    position:absolute;
    left:2px;
    top:9px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229c0 {
    background-image: url('../流程定制呈现样例_files/u229c0.png');
}

.u229c0 {
    position:absolute;
    left:765px;
    top:324px;
    width:54px;
    height:20px;
}

.u230 {
    position:absolute;
    left:-30px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231c0 {
    background-image: url('../流程定制呈现样例_files/u231c0.png');
}

.u231c0 {
    position:absolute;
    left:860px;
    top:324px;
    width:42px;
    height:20px;
}

.u232 {
    position:absolute;
    left:-36px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233c0 {
    background-image: url('../流程定制呈现样例_files/u233c0.png');
}

.u233c0 {
    position:absolute;
    left:826px;
    top:269px;
    width:20px;
    height:52px;
}

.u233c1 {
    background-image: url('../流程定制呈现样例_files/u233c1.png');
}

.u233c1 {
    position:absolute;
    left:490px;
    top:269px;
    width:356px;
    height:20px;
}

.u233c2 {
    background-image: url('../流程定制呈现样例_files/u233c2.png');
}

.u233c2 {
    position:absolute;
    left:490px;
    top:269px;
    width:20px;
    height:50px;
}

.u234 {
    position:absolute;
    left:-217px;
    top:-46px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235c0 {
    background-image: url('../流程定制呈现样例_files/u235c0.png');
}

.u235c0 {
    position:absolute;
    left:691px;
    top:656px;
    width:20px;
    height:24px;
}

.u235c1 {
    background-image: url('../流程定制呈现样例_files/u235c1.png');
}

.u235c1 {
    position:absolute;
    left:691px;
    top:660px;
    width:98px;
    height:20px;
}

.u235c2 {
    background-image: url('../流程定制呈现样例_files/u235c2.png');
}

.u235c2 {
    position:absolute;
    left:769px;
    top:324px;
    width:20px;
    height:356px;
}

.u235c3 {
    background-image: url('../流程定制呈现样例_files/u235c3.png');
}

.u235c3 {
    position:absolute;
    left:765px;
    top:324px;
    width:24px;
    height:20px;
}

.u236 {
    position:absolute;
    left:28px;
    top:-127px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237c0 {
    background-image: url('../流程定制呈现样例_files/u237c0.png');
}

.u237c0 {
    position:absolute;
    left:490px;
    top:541px;
    width:20px;
    height:24px;
}

.u237c1 {
    background-image: url('../流程定制呈现样例_files/u237c1.png');
}

.u237c1 {
    position:absolute;
    left:490px;
    top:545px;
    width:78px;
    height:20px;
}

.u237c2 {
    background-image: url('../流程定制呈现样例_files/u237c2.png');
}

.u237c2 {
    position:absolute;
    left:548px;
    top:324px;
    width:20px;
    height:241px;
}

.u237c3 {
    background-image: url('../流程定制呈现样例_files/u237c3.png');
}

.u237c3 {
    position:absolute;
    left:544px;
    top:324px;
    width:24px;
    height:20px;
}

.u238 {
    position:absolute;
    left:8px;
    top:-80px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239c0 {
    background-image: url('../流程定制呈现样例_files/u239c0.png');
}

.u239c0 {
    position:absolute;
    left:342px;
    top:433px;
    width:20px;
    height:34px;
}

.u239c1 {
    background-image: url('../流程定制呈现样例_files/u239c1.png');
}

.u239c1 {
    position:absolute;
    left:342px;
    top:447px;
    width:78px;
    height:20px;
}

.u239c2 {
    background-image: url('../流程定制呈现样例_files/u239c2.png');
}

.u239c2 {
    position:absolute;
    left:400px;
    top:324px;
    width:20px;
    height:143px;
}

.u239c3 {
    background-image: url('../流程定制呈现样例_files/u239c3.png');
}

.u239c3 {
    position:absolute;
    left:396px;
    top:324px;
    width:24px;
    height:20px;
}

.u240 {
    position:absolute;
    left:8px;
    top:-16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_normal {
    background-image: url('../流程定制呈现样例_files/u241_normal.png');
}

.u241_container {
    position:absolute;
    left:289px;
    top:140px;
    width:90px;
    height:29px;
}

#u241_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:35px;
}

.u242 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:194px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244 {
    position:absolute;
    left:449px;
    top:687px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u245 {
    position:absolute;
    left:560px;
    top:687px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

