body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../文件管理页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:43px;
    top:39px;
    width:922px;
    height:27px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:33px;
}

.u1 {
    position:absolute;
    left:2px;
    top:6px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../文件管理页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:43px;
    top:66px;
    width:922px;
    height:71px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:77px;
}

.u3 {
    position:absolute;
    left:2px;
    top:28px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:133px;
    top:89px;
    width:439px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:640px;
    top:89px;
    width:222px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 14px;
    color:#6B6B6B;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_container {
    position:absolute;
    left:870px;
    top:88px;
    width:54px;
    height:27px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:761px;
    top:45px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../文件管理页_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u9 {
    position:absolute;
    left:788px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u10 {
    position:absolute;
    left:797px;
    top:45px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../文件管理页_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u11 {
    position:absolute;
    left:850px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u12 {
    position:absolute;
    left:859px;
    top:45px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../文件管理页_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u13 {
    position:absolute;
    left:884px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u14 {
    position:absolute;
    left:894px;
    top:45px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../文件管理页_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u15 {
    position:absolute;
    left:920px;
    top:45px;
    width:10px;
    height:16px;
    
}

.u16 {
    position:absolute;
    left:930px;
    top:45px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../文件管理页_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:43px;
    top:138px;
    width:922px;
    height:31px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:37px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:192px;
    top:146px;
    width:89px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:500px;
    top:146px;
    width:97px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:125px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../文件管理页_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:42px;
    top:175px;
    width:151px;
    height:564px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:570px;
}

.u23 {
    position:absolute;
    left:2px;
    top:274px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../文件管理页_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:43px;
    top:749px;
    width:922px;
    height:10px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-3px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../文件管理页_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:43px;
    top:760px;
    width:922px;
    height:39px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:45px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../文件管理页_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:43px;
    top:175px;
    width:150px;
    height:29px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:35px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../文件管理页_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:534px;
}

.u36 {
    position:absolute;
    left:198px;
    top:205px;
    width:10px;
    height:534px;
    
}

.u37_line {
    background-image: url('../文件管理页_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:758px;
    height:3px;
}

.u37 {
    position:absolute;
    left:203px;
    top:200px;
    width:758px;
    height:10px;
    
}

.u38_line {
    background-image: url('../文件管理页_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:534px;
}

.u38 {
    position:absolute;
    left:956px;
    top:205px;
    width:10px;
    height:534px;
    
}

.u39_line {
    background-image: url('../文件管理页_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:0px;
    top:4px;
    width:758px;
    height:3px;
}

.u39 {
    position:absolute;
    left:204px;
    top:734px;
    width:758px;
    height:10px;
    
}

#u40 {
    position:absolute;
    left:45px;
    top:207px;
    width:146px;
    height:533px;
    overflow:hidden;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:533px;
    
}

.u43_selected {
    background-image: url('../文件管理页_files/u43_selected.png');
}

.u43_normal {
    background-image: url('../文件管理页_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u44 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u46 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u48_selected {
    background-image: url('../文件管理页_files/u43_selected.png');
}

.u48_normal {
    background-image: url('../文件管理页_files/u43_normal.png');
}

.u48_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:110px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u62_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u63 {
    position:absolute;
    left:3px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u65_selected {
    background-image: url('../文件管理页_files/u43_selected.png');
}

.u65_normal {
    background-image: url('../文件管理页_files/u43_normal.png');
}

.u65_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u66 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u67_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u68 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u70_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u71 {
    position:absolute;
    left:3px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u73_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u73_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u74 {
    position:absolute;
    left:3px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u76_selected {
    background-image: url('../文件管理页_files/u43_selected.png');
}

.u76_normal {
    background-image: url('../文件管理页_files/u43_normal.png');
}

.u76_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u77 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u78_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u79 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u81_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u81_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u82 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u84_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u84_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u85 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u87_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u87_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u88 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u90_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u90_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u91 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u92 {
    position:absolute;
    left:48px;
    top:208px;
    width:142px;
    height:531px;
    overflow:hidden;
}

#pd0u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:531px;
    
}

.u93_normal {
    background-image: url('../文件管理页_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:-1px;
    top:-32px;
    width:138px;
    height:556px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:562px;
}

.u94 {
    position:absolute;
    left:2px;
    top:270px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../文件管理页_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:3px;
    top:422px;
    width:128px;
    height:25px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u96 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../文件管理页_files/u95_normal.png');
}

.u97_container {
    position:absolute;
    left:3px;
    top:391px;
    width:128px;
    height:25px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u98 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../文件管理页_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:3px;
    top:453px;
    width:128px;
    height:28px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:34px;
}

.u100 {
    position:absolute;
    left:2px;
    top:4px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../文件管理页_files/u99_normal.png');
}

.u101_container {
    position:absolute;
    left:3px;
    top:486px;
    width:128px;
    height:28px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:34px;
}

.u102 {
    position:absolute;
    left:2px;
    top:4px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../文件管理页_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:3px;
    top:4px;
    width:134px;
    height:346px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:352px;
}

.u104 {
    position:absolute;
    left:2px;
    top:165px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../文件管理页_files/u95_normal.png');
}

.u105_container {
    position:absolute;
    left:5px;
    top:6px;
    width:128px;
    height:25px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u106 {
    position:absolute;
    left:2px;
    top:5px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../文件管理页_files/u95_normal.png');
}

.u107_container {
    position:absolute;
    left:3px;
    top:360px;
    width:128px;
    height:25px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u108 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_selected {
    background-image: url('../文件管理页_files/u43_selected.png');
}

.u111_normal {
    background-image: url('../文件管理页_files/u43_normal.png');
}

.u111_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u112 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u113_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u114 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u116_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u116_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u117 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u119_selected {
    background-image: url('../文件管理页_files/u43_selected.png');
}

.u119_normal {
    background-image: url('../文件管理页_files/u43_normal.png');
}

.u119_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u120 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u121_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u122 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u124_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u124_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u125 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u127_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u127_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u128 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u129_normal {
    background-image: url('../文件管理页_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:203px;
    top:596px;
    width:756px;
    height:138px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:762px;
    height:144px;
}

.u130 {
    position:absolute;
    left:2px;
    top:61px;
    width:752px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u131 {
    position:absolute;
    left:203px;
    top:174px;
    width:763px;
    height:32px;
    overflow:hidden;
}

#pd0u131 {
    position:absolute;
    left:0px;
    top:0px;
    width:763px;
    height:32px;
    
}

.u132 {
    position:absolute;
    left:521px;
    top:180px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:626px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:820px;
    top:146px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:723px;
    top:146px;
    width:84px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../文件管理页_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:392px;
    top:139px;
    width:77px;
    height:29px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:35px;
}

.u137 {
    position:absolute;
    left:2px;
    top:6px;
    width:73px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:287px;
    top:146px;
    width:86px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../文件管理页_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:203px;
    top:206px;
    width:758px;
    height:23px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:764px;
    height:29px;
}

.u140 {
    position:absolute;
    left:2px;
    top:4px;
    width:754px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u141 {
    position:absolute;
    left:218px;
    top:272px;
    width:729px;
    height:201px
}

.u142_normal {
    background-image: url('../文件管理页_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:36px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:42px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../文件管理页_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:195px;
    top:0px;
    width:53px;
    height:36px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:42px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../文件管理页_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:248px;
    top:0px;
    width:72px;
    height:36px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:42px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../文件管理页_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:320px;
    top:0px;
    width:79px;
    height:36px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:42px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../文件管理页_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:399px;
    top:0px;
    width:88px;
    height:36px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:42px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../文件管理页_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:487px;
    top:0px;
    width:140px;
    height:36px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:42px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../文件管理页_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:627px;
    top:0px;
    width:97px;
    height:36px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:42px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../文件管理页_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:36px;
    width:195px;
    height:21px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:27px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../文件管理页_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:195px;
    top:36px;
    width:53px;
    height:21px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:27px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../文件管理页_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:248px;
    top:36px;
    width:72px;
    height:21px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:27px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../文件管理页_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:320px;
    top:36px;
    width:79px;
    height:21px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:27px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../文件管理页_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:399px;
    top:36px;
    width:88px;
    height:21px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:27px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../文件管理页_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:487px;
    top:36px;
    width:140px;
    height:21px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:27px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../文件管理页_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:627px;
    top:36px;
    width:97px;
    height:21px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:27px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../文件管理页_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:0px;
    top:57px;
    width:195px;
    height:30px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:36px;
}

.u171 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../文件管理页_files/u172_normal.png');
}

.u172_container {
    position:absolute;
    left:195px;
    top:57px;
    width:53px;
    height:30px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:36px;
}

.u173 {
    position:absolute;
    left:2px;
    top:7px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../文件管理页_files/u174_normal.png');
}

.u174_container {
    position:absolute;
    left:248px;
    top:57px;
    width:72px;
    height:30px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:36px;
}

.u175 {
    position:absolute;
    left:2px;
    top:7px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../文件管理页_files/u176_normal.png');
}

.u176_container {
    position:absolute;
    left:320px;
    top:57px;
    width:79px;
    height:30px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:36px;
}

.u177 {
    position:absolute;
    left:2px;
    top:7px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../文件管理页_files/u178_normal.png');
}

.u178_container {
    position:absolute;
    left:399px;
    top:57px;
    width:88px;
    height:30px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:36px;
}

.u179 {
    position:absolute;
    left:2px;
    top:7px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../文件管理页_files/u180_normal.png');
}

.u180_container {
    position:absolute;
    left:487px;
    top:57px;
    width:140px;
    height:30px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u181 {
    position:absolute;
    left:2px;
    top:7px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../文件管理页_files/u182_normal.png');
}

.u182_container {
    position:absolute;
    left:627px;
    top:57px;
    width:97px;
    height:30px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:36px;
}

.u183 {
    position:absolute;
    left:2px;
    top:7px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../文件管理页_files/u184_normal.png');
}

.u184_container {
    position:absolute;
    left:0px;
    top:87px;
    width:195px;
    height:31px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:37px;
}

.u185 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../文件管理页_files/u186_normal.png');
}

.u186_container {
    position:absolute;
    left:195px;
    top:87px;
    width:53px;
    height:31px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:37px;
}

.u187 {
    position:absolute;
    left:2px;
    top:8px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../文件管理页_files/u188_normal.png');
}

.u188_container {
    position:absolute;
    left:248px;
    top:87px;
    width:72px;
    height:31px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:37px;
}

.u189 {
    position:absolute;
    left:2px;
    top:8px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../文件管理页_files/u190_normal.png');
}

.u190_container {
    position:absolute;
    left:320px;
    top:87px;
    width:79px;
    height:31px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:37px;
}

.u191 {
    position:absolute;
    left:2px;
    top:8px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../文件管理页_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:399px;
    top:87px;
    width:88px;
    height:31px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:37px;
}

.u193 {
    position:absolute;
    left:2px;
    top:8px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../文件管理页_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:487px;
    top:87px;
    width:140px;
    height:31px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:37px;
}

.u195 {
    position:absolute;
    left:2px;
    top:8px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../文件管理页_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:627px;
    top:87px;
    width:97px;
    height:31px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:37px;
}

.u197 {
    position:absolute;
    left:2px;
    top:8px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../文件管理页_files/u198_normal.png');
}

.u198_container {
    position:absolute;
    left:0px;
    top:118px;
    width:195px;
    height:28px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:34px;
}

.u199 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../文件管理页_files/u200_normal.png');
}

.u200_container {
    position:absolute;
    left:195px;
    top:118px;
    width:53px;
    height:28px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:34px;
}

.u201 {
    position:absolute;
    left:2px;
    top:6px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../文件管理页_files/u202_normal.png');
}

.u202_container {
    position:absolute;
    left:248px;
    top:118px;
    width:72px;
    height:28px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:34px;
}

.u203 {
    position:absolute;
    left:2px;
    top:6px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../文件管理页_files/u204_normal.png');
}

.u204_container {
    position:absolute;
    left:320px;
    top:118px;
    width:79px;
    height:28px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:34px;
}

.u205 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../文件管理页_files/u206_normal.png');
}

.u206_container {
    position:absolute;
    left:399px;
    top:118px;
    width:88px;
    height:28px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:34px;
}

.u207 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../文件管理页_files/u208_normal.png');
}

.u208_container {
    position:absolute;
    left:487px;
    top:118px;
    width:140px;
    height:28px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:34px;
}

.u209 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../文件管理页_files/u210_normal.png');
}

.u210_container {
    position:absolute;
    left:627px;
    top:118px;
    width:97px;
    height:28px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:34px;
}

.u211 {
    position:absolute;
    left:2px;
    top:6px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../文件管理页_files/u212_normal.png');
}

.u212_container {
    position:absolute;
    left:0px;
    top:146px;
    width:195px;
    height:29px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:35px;
}

.u213 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../文件管理页_files/u214_normal.png');
}

.u214_container {
    position:absolute;
    left:195px;
    top:146px;
    width:53px;
    height:29px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:35px;
}

.u215 {
    position:absolute;
    left:2px;
    top:6px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../文件管理页_files/u216_normal.png');
}

.u216_container {
    position:absolute;
    left:248px;
    top:146px;
    width:72px;
    height:29px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:35px;
}

.u217 {
    position:absolute;
    left:2px;
    top:6px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../文件管理页_files/u218_normal.png');
}

.u218_container {
    position:absolute;
    left:320px;
    top:146px;
    width:79px;
    height:29px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u219 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../文件管理页_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:399px;
    top:146px;
    width:88px;
    height:29px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u221 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../文件管理页_files/u222_normal.png');
}

.u222_container {
    position:absolute;
    left:487px;
    top:146px;
    width:140px;
    height:29px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:35px;
}

.u223 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../文件管理页_files/u224_normal.png');
}

.u224_container {
    position:absolute;
    left:627px;
    top:146px;
    width:97px;
    height:29px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:35px;
}

.u225 {
    position:absolute;
    left:2px;
    top:6px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../文件管理页_files/u226_normal.png');
}

.u226_container {
    position:absolute;
    left:0px;
    top:175px;
    width:195px;
    height:27px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:33px;
}

.u227 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../文件管理页_files/u228_normal.png');
}

.u228_container {
    position:absolute;
    left:195px;
    top:175px;
    width:53px;
    height:27px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:33px;
}

.u229 {
    position:absolute;
    left:2px;
    top:6px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../文件管理页_files/u230_normal.png');
}

.u230_container {
    position:absolute;
    left:248px;
    top:175px;
    width:72px;
    height:27px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:33px;
}

.u231 {
    position:absolute;
    left:2px;
    top:6px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../文件管理页_files/u232_normal.png');
}

.u232_container {
    position:absolute;
    left:320px;
    top:175px;
    width:79px;
    height:27px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:33px;
}

.u233 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_normal {
    background-image: url('../文件管理页_files/u234_normal.png');
}

.u234_container {
    position:absolute;
    left:399px;
    top:175px;
    width:88px;
    height:27px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:33px;
}

.u235 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../文件管理页_files/u236_normal.png');
}

.u236_container {
    position:absolute;
    left:487px;
    top:175px;
    width:140px;
    height:27px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:33px;
}

.u237 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../文件管理页_files/u238_normal.png');
}

.u238_container {
    position:absolute;
    left:627px;
    top:175px;
    width:97px;
    height:27px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:33px;
}

.u239 {
    position:absolute;
    left:2px;
    top:6px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_normal {
    background-image: url('../文件管理页_files/u240_normal.png');
}

.u240_container {
    position:absolute;
    left:202px;
    top:204px;
    width:758px;
    height:27px;
}

#u240_img {
    position:absolute;
    left:0px;
    top:0px;
    width:758px;
    height:27px;
}

.u241 {
    position:absolute;
    left:2px;
    top:6px;
    width:754px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:250px;
    top:246px;
    width:269px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_normal {
    background-image: url('../文件管理页_files/u243_normal.png');
}

.u243_container {
    position:absolute;
    left:214px;
    top:242px;
    width:33px;
    height:24px;
}

#u243_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:24px;
}

.u244 {
    position:absolute;
    left:2px;
    top:4px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u245 {
    position:absolute;
    left:219px;
    top:301px;
    width:728px;
    height:35px
}

.u246_normal {
    background-image: url('../文件管理页_files/u246_normal.png');
}

.u246_container {
    position:absolute;
    left:0px;
    top:0px;
    width:723px;
    height:30px;
}

#u246_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:729px;
    height:36px;
}

.u247 {
    position:absolute;
    left:2px;
    top:12px;
    width:719px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248_normal {
    background-image: url('../文件管理页_files/u248_normal.png');
}

.u248_container {
    position:absolute;
    left:219px;
    top:332px;
    width:171px;
    height:26px;
}

#u248_img {
    position:absolute;
    left:0px;
    top:0px;
    width:171px;
    height:26px;
}

.u249 {
    position:absolute;
    left:2px;
    top:5px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u250_normal {
    background-image: url('../文件管理页_files/u250_normal.png');
}

.u250_container {
    position:absolute;
    left:222px;
    top:361px;
    width:154px;
    height:26px;
}

#u250_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:26px;
}

.u251 {
    position:absolute;
    left:2px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252_normal {
    background-image: url('../文件管理页_files/u252_normal.png');
}

.u252_container {
    position:absolute;
    left:220px;
    top:391px;
    width:155px;
    height:24px;
}

#u252_img {
    position:absolute;
    left:0px;
    top:0px;
    width:155px;
    height:24px;
}

.u253 {
    position:absolute;
    left:2px;
    top:4px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254_normal {
    background-image: url('../文件管理页_files/u254_normal.png');
}

.u254_container {
    position:absolute;
    left:221px;
    top:421px;
    width:167px;
    height:21px;
}

#u254_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:21px;
}

.u255 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256_normal {
    background-image: url('../文件管理页_files/u256_normal.png');
}

.u256_container {
    position:absolute;
    left:221px;
    top:449px;
    width:136px;
    height:25px;
}

#u256_img {
    position:absolute;
    left:0px;
    top:0px;
    width:136px;
    height:25px;
}

.u257 {
    position:absolute;
    left:2px;
    top:4px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u258 {
    position:absolute;
    left:218px;
    top:475px;
    width:729px;
    height:27px
}

.u259_normal {
    background-image: url('../文件管理页_files/u259_normal.png');
}

.u259_container {
    position:absolute;
    left:0px;
    top:0px;
    width:724px;
    height:22px;
}

#u259_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:730px;
    height:28px;
}

.u260 {
    position:absolute;
    left:2px;
    top:6px;
    width:720px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:218px;
    top:562px;
    width:603px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

