body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../公共管理服务子系统_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:107px;
    top:179px;
    width:771px;
    height:519px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:771px;
    height:519px;
}

.u1 {
    position:absolute;
    left:2px;
    top:252px;
    width:767px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../公共管理服务子系统_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:161px;
    top:341px;
    width:32px;
    height:213px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:219px;
}

.u3 {
    position:absolute;
    left:2px;
    top:34px;
    width:28px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../公共管理服务子系统_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:276px;
    top:634px;
    width:132px;
    height:33px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:33px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:295px;
    top:641px;
    width:113px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../公共管理服务子系统_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:276px;
    top:221px;
    width:117px;
    height:34px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    height:34px;
}

.u8 {
    position:absolute;
    left:2px;
    top:9px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:279px;
    top:229px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:276px;
    top:433px;
    width:132px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:284px;
    top:440px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u13_container {
    position:absolute;
    left:478px;
    top:286px;
    width:132px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:488px;
    top:293px;
    width:130px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:479px;
    top:323px;
    width:132px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u17 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:489px;
    top:330px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u19_container {
    position:absolute;
    left:478px;
    top:365px;
    width:132px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:488px;
    top:372px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:478px;
    top:405px;
    width:132px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:488px;
    top:412px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u25_container {
    position:absolute;
    left:482px;
    top:445px;
    width:132px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:489px;
    top:452px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u28_container {
    position:absolute;
    left:482px;
    top:486px;
    width:132px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:489px;
    top:493px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../公共管理服务子系统_files/u10_normal.png');
}

.u31_container {
    position:absolute;
    left:487px;
    top:527px;
    width:132px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:494px;
    top:534px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../公共管理服务子系统_files/u4_normal.png');
}

.u34_container {
    position:absolute;
    left:472px;
    top:606px;
    width:132px;
    height:33px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:33px;
}

.u35 {
    position:absolute;
    left:2px;
    top:8px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:497px;
    top:614px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../公共管理服务子系统_files/u4_normal.png');
}

.u37_container {
    position:absolute;
    left:473px;
    top:648px;
    width:132px;
    height:33px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:33px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:497px;
    top:655px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../公共管理服务子系统_files/u4_normal.png');
}

.u40_container {
    position:absolute;
    left:665px;
    top:606px;
    width:132px;
    height:33px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:33px;
}

.u41 {
    position:absolute;
    left:2px;
    top:8px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:684px;
    top:614px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../公共管理服务子系统_files/u4_normal.png');
}

.u43_container {
    position:absolute;
    left:665px;
    top:648px;
    width:132px;
    height:33px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:33px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:682px;
    top:656px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../公共管理服务子系统_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:444px;
    top:689px;
    width:175px;
    height:46px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:46px;
}

.u47 {
    position:absolute;
    left:2px;
    top:15px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../公共管理服务子系统_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:435px;
    top:665px;
    width:9px;
    height:52px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:52px;
}

.u49 {
    position:absolute;
    left:2px;
    top:18px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../公共管理服务子系统_files/u4_normal.png');
}

.u50_container {
    position:absolute;
    left:471px;
    top:694px;
    width:132px;
    height:33px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:33px;
}

.u51 {
    position:absolute;
    left:2px;
    top:8px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:495px;
    top:703px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../公共管理服务子系统_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:443px;
    top:242px;
    width:177px;
    height:38px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:38px;
}

.u54 {
    position:absolute;
    left:2px;
    top:11px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../公共管理服务子系统_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:439px;
    top:260px;
    width:5px;
    height:42px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:42px;
}

.u56 {
    position:absolute;
    left:2px;
    top:13px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../公共管理服务子系统_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:444px;
    top:296px;
    width:29px;
    height:10px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:10px;
}

.u58 {
    position:absolute;
    left:2px;
    top:-3px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../公共管理服务子系统_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:488px;
    top:248px;
    width:122px;
    height:29px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:29px;
}

.u60 {
    position:absolute;
    left:2px;
    top:6px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:488px;
    top:254px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:311px;
    top:759px;
    width:496px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

