body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:513px;
    top:545px;
    width:247px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../三类人员证书变更流程_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:490px;
    top:166px;
    width:174px;
    height:45px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u2 {
    position:absolute;
    left:2px;
    top:6px;
    width:170px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../三类人员证书变更流程_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:524px;
    top:238px;
    width:101px;
    height:45px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:51px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../三类人员证书变更流程_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:449px;
    top:317px;
    width:101px;
    height:35px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u6 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../三类人员证书变更流程_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:586px;
    top:317px;
    width:101px;
    height:35px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../三类人员证书变更流程_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:426px;
    top:385px;
    width:150px;
    height:36px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../三类人员证书变更流程_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:488px;
    top:538px;
    width:201px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_end {
    background-image: url('../三类人员证书变更流程_files/u13_end.png');
}

.u13_end {
    position:absolute;
    left:-5px;
    top:19px;
    width:20px;
    height:14px;
}

.u13_line {
    background-image: url('../三类人员证书变更流程_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:28px;
}

.u13 {
    position:absolute;
    left:564px;
    top:211px;
    width:10px;
    height:28px;
    
}

.u14_line {
    background-image: url('../三类人员证书变更流程_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:147px;
    height:3px;
}

.u14 {
    position:absolute;
    left:493px;
    top:294px;
    width:147px;
    height:10px;
    
}

.u15_end {
    background-image: url('../三类人员证书变更流程_files/u15_end.png');
}

.u15_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u15_line {
    background-image: url('../三类人员证书变更流程_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u15 {
    position:absolute;
    left:565px;
    top:283px;
    width:10px;
    height:14px;
    
}

.u16_end {
    background-image: url('../三类人员证书变更流程_files/u16_end.png');
}

.u16_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u16_line {
    background-image: url('../三类人员证书变更流程_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u16 {
    position:absolute;
    left:635px;
    top:300px;
    width:10px;
    height:14px;
    
}

.u17_end {
    background-image: url('../三类人员证书变更流程_files/u17_end.png');
}

.u17_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u17_line {
    background-image: url('../三类人员证书变更流程_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u17 {
    position:absolute;
    left:488px;
    top:300px;
    width:10px;
    height:14px;
    
}

.u18_end {
    background-image: url('../三类人员证书变更流程_files/u18_end.png');
}

.u18_end {
    position:absolute;
    left:-5px;
    top:23px;
    width:20px;
    height:14px;
}

.u18_line {
    background-image: url('../三类人员证书变更流程_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:32px;
}

.u18 {
    position:absolute;
    left:489px;
    top:353px;
    width:10px;
    height:32px;
    
}

.u19_end {
    background-image: url('../三类人员证书变更流程_files/u19_end.png');
}

.u19_end {
    position:absolute;
    left:-5px;
    top:17px;
    width:20px;
    height:14px;
}

.u19_line {
    background-image: url('../三类人员证书变更流程_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u19 {
    position:absolute;
    left:490px;
    top:421px;
    width:10px;
    height:26px;
    
}

.u20 {
    position:absolute;
    left:494px;
    top:607px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../三类人员证书变更流程_files/u5_normal.png');
}

.u21_container {
    position:absolute;
    left:377px;
    top:470px;
    width:101px;
    height:35px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../三类人员证书变更流程_files/u5_normal.png');
}

.u23_container {
    position:absolute;
    left:514px;
    top:470px;
    width:101px;
    height:35px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:41px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../三类人员证书变更流程_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:147px;
    height:3px;
}

.u25 {
    position:absolute;
    left:421px;
    top:447px;
    width:147px;
    height:10px;
    
}

.u26_end {
    background-image: url('../三类人员证书变更流程_files/u26_end.png');
}

.u26_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u26_line {
    background-image: url('../三类人员证书变更流程_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u26 {
    position:absolute;
    left:563px;
    top:453px;
    width:10px;
    height:14px;
    
}

.u27_end {
    background-image: url('../三类人员证书变更流程_files/u27_end.png');
}

.u27_end {
    position:absolute;
    left:-5px;
    top:5px;
    width:20px;
    height:14px;
}

.u27_line {
    background-image: url('../三类人员证书变更流程_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u27 {
    position:absolute;
    left:416px;
    top:453px;
    width:10px;
    height:14px;
    
}

.u28_end {
    background-image: url('../三类人员证书变更流程_files/u28_end.png');
}

.u28_end {
    position:absolute;
    left:-5px;
    top:19px;
    width:20px;
    height:14px;
}

.u28_line {
    background-image: url('../三类人员证书变更流程_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:28px;
}

.u28 {
    position:absolute;
    left:563px;
    top:506px;
    width:10px;
    height:28px;
    
}

.u29_line {
    background-image: url('../三类人员证书变更流程_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:49px;
    height:3px;
}

.u29 {
    position:absolute;
    left:329px;
    top:482px;
    width:49px;
    height:10px;
    
}

.u30_line {
    background-image: url('../三类人员证书变更流程_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:225px;
}

.u30 {
    position:absolute;
    left:323px;
    top:262px;
    width:10px;
    height:225px;
    
}

.u31_end {
    background-image: url('../三类人员证书变更流程_files/u31_end.png');
}

.u31_end {
    position:absolute;
    left:186px;
    top:-5px;
    width:14px;
    height:20px;
}

.u31_line {
    background-image: url('../三类人员证书变更流程_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:195px;
    height:3px;
}

.u31 {
    position:absolute;
    left:329px;
    top:257px;
    width:195px;
    height:10px;
    
}

.u32_line {
    background-image: url('../三类人员证书变更流程_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u32 {
    position:absolute;
    left:717px;
    top:192px;
    width:10px;
    height:143px;
    
}

.u33_line {
    background-image: url('../三类人员证书变更流程_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:34px;
    height:3px;
}

.u33 {
    position:absolute;
    left:687px;
    top:330px;
    width:34px;
    height:10px;
    
}

.u34_start {
    background-image: url('../三类人员证书变更流程_files/u34_start.png');
}

.u34_start {
    position:absolute;
    left:-4px;
    top:-5px;
    width:14px;
    height:20px;
}

.u34_line {
    background-image: url('../三类人员证书变更流程_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:57px;
    height:3px;
}

.u34 {
    position:absolute;
    left:664px;
    top:186px;
    width:57px;
    height:10px;
    
}

