body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:43px;
    top:41px;
    width:922px;
    height:27px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:33px;
}

.u1 {
    position:absolute;
    left:2px;
    top:6px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:43px;
    top:69px;
    width:922px;
    height:71px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:77px;
}

.u3 {
    position:absolute;
    left:2px;
    top:28px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:125px;
    top:88px;
    width:528px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:687px;
    top:90px;
    width:165px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 14px;
    color:#6B6B6B;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_container {
    position:absolute;
    left:865px;
    top:88px;
    width:54px;
    height:27px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:761px;
    top:45px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:797px;
    top:45px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:42px;
    top:177px;
    width:166px;
    height:539px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:545px;
}

.u11 {
    position:absolute;
    left:2px;
    top:262px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:42px;
    top:721px;
    width:928px;
    height:10px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:934px;
    height:16px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-3px;
    width:924px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:42px;
    top:733px;
    width:928px;
    height:39px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:934px;
    height:45px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:924px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../建造师初始注册审批-信息查看_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:509px;
}

.u20 {
    position:absolute;
    left:203px;
    top:205px;
    width:10px;
    height:509px;
    
}

.u21_line {
    background-image: url('../建造师初始注册审批-信息查看_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:762px;
    height:3px;
}

.u21 {
    position:absolute;
    left:203px;
    top:201px;
    width:762px;
    height:10px;
    
}

.u22_line {
    background-image: url('../建造师初始注册审批-信息查看_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:545px;
}

.u22 {
    position:absolute;
    left:960px;
    top:171px;
    width:10px;
    height:545px;
    
}

.u23_line {
    background-image: url('../建造师初始注册审批-信息查看_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:760px;
    height:3px;
}

.u23 {
    position:absolute;
    left:206px;
    top:711px;
    width:760px;
    height:10px;
    
}

.u24_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:208px;
    top:176px;
    width:102px;
    height:29px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:35px;
}

.u25 {
    position:absolute;
    left:2px;
    top:6px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:745px;
    top:41px;
    width:219px;
    height:22px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:22px;
}

.u27 {
    position:absolute;
    left:2px;
    top:3px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:44px;
    top:178px;
    width:164px;
    height:529px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:529px;
}

.u31 {
    position:absolute;
    left:2px;
    top:256px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:43px;
    top:141px;
    width:922px;
    height:31px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:37px;
}

.u33 {
    position:absolute;
    left:2px;
    top:8px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:446px;
    top:148px;
    width:105px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:101px;
    top:149px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:888px;
    top:148px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:811px;
    top:148px;
    width:81px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:733px;
    top:148px;
    width:81px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:219px;
    top:142px;
    width:108px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:6px;
    width:104px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:153px;
    top:149px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:552px;
    top:148px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:340px;
    top:148px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:627px;
    top:148px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:315px;
    top:177px;
    width:102px;
    height:29px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:35px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:232px;
    top:251px;
    width:674px;
    height:461px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:674px;
    height:461px;
}

.u48 {
    position:absolute;
    left:2px;
    top:222px;
    width:670px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:315px;
    top:257px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:455px;
    top:257px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:590px;
    top:257px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:727px;
    top:257px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:302px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:332px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:358px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:388px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:342px;
    top:338px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:422px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:448px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:474px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:503px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:529px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:555px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:583px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:613px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:639px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:660px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:684px;
    top:299px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:707px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:735px;
    top:298px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:759px;
    top:297px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:392px;
    top:319px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:664px;
    top:319px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:442px;
    top:338px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:567px;
    top:338px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:696px;
    top:338px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:310px;
    top:359px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:358px;
    top:381px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:357px;
    top:402px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:759px;
    top:381px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:759px;
    top:401px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:356px;
    top:423px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:280px;
    top:527px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:248px;
    top:588px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:363px;
    top:527px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:431px;
    top:527px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:652px;
    top:527px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:417px;
    top:588px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:652px;
    top:588px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:719px;
    top:588px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:846px;
    top:588px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:248px;
    top:609px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:417px;
    top:609px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:652px;
    top:609px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:719px;
    top:609px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:846px;
    top:609px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:803px;
    top:425px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:544px;
    top:359px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:608px;
    top:423px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:784px;
    top:466px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:603px;
    top:466px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:236px;
    top:229px;
    width:101px;
    height:23px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:29px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../建造师初始注册审批-信息查看_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:341px;
    top:229px;
    width:101px;
    height:23px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:29px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

