body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../办事大厅流程定制_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:42px;
    top:175px;
    width:151px;
    height:564px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:570px;
}

.u1 {
    position:absolute;
    left:2px;
    top:274px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../办事大厅流程定制_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:43px;
    top:749px;
    width:922px;
    height:10px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:16px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-3px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../办事大厅流程定制_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:43px;
    top:760px;
    width:922px;
    height:39px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:45px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:16px;
    top:0px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:16px;
    top:0px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../办事大厅流程定制_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:43px;
    top:175px;
    width:150px;
    height:29px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:35px;
}

.u13 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../办事大厅流程定制_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:534px;
}

.u14 {
    position:absolute;
    left:198px;
    top:205px;
    width:10px;
    height:534px;
    
}

.u15_line {
    background-image: url('../办事大厅流程定制_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:758px;
    height:3px;
}

.u15 {
    position:absolute;
    left:203px;
    top:200px;
    width:758px;
    height:10px;
    
}

.u16_line {
    background-image: url('../办事大厅流程定制_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:534px;
}

.u16 {
    position:absolute;
    left:956px;
    top:205px;
    width:10px;
    height:534px;
    
}

.u17_line {
    background-image: url('../办事大厅流程定制_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:758px;
    height:3px;
}

.u17 {
    position:absolute;
    left:204px;
    top:734px;
    width:758px;
    height:10px;
    
}

#u18 {
    position:absolute;
    left:45px;
    top:207px;
    width:146px;
    height:533px;
    overflow:hidden;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:533px;
    
}

.u19_normal {
    background-image: url('../办事大厅流程定制_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:-1px;
    top:-32px;
    width:146px;
    height:558px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:564px;
}

.u20 {
    position:absolute;
    left:2px;
    top:271px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../办事大厅流程定制_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:3px;
    top:422px;
    width:140px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:3px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../办事大厅流程定制_files/u21_normal.png');
}

.u23_container {
    position:absolute;
    left:3px;
    top:391px;
    width:140px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:3px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../办事大厅流程定制_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:3px;
    top:453px;
    width:140px;
    height:28px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:34px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../办事大厅流程定制_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:1px;
    top:4px;
    width:142px;
    height:377px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:383px;
}

.u28 {
    position:absolute;
    left:2px;
    top:180px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../办事大厅流程定制_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:2px;
    top:6px;
    width:138px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:5px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_selected {
    background-image: url('../办事大厅流程定制_files/u33_selected.png');
}

.u33_normal {
    background-image: url('../办事大厅流程定制_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:110px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u39 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_selected {
    background-image: url('../办事大厅流程定制_files/u33_selected.png');
}

.u50_normal {
    background-image: url('../办事大厅流程定制_files/u33_normal.png');
}

.u50_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:73px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_selected {
    background-image: url('../办事大厅流程定制_files/u33_selected.png');
}

.u64_normal {
    background-image: url('../办事大厅流程定制_files/u33_normal.png');
}

.u64_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u65 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u67 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:13px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u72_selected {
    background-image: url('../办事大厅流程定制_files/u33_selected.png');
}

.u72_normal {
    background-image: url('../办事大厅流程定制_files/u33_normal.png');
}

.u72_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u73 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:110px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:22px;
    top:0px;
    width:13px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u79 {
    position:absolute;
    left:48px;
    top:208px;
    width:142px;
    height:531px;
    overflow:hidden;
}

#pd0u79 {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:531px;
    
}

.u80_normal {
    background-image: url('../办事大厅流程定制_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:-1px;
    top:-32px;
    width:138px;
    height:556px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:562px;
}

.u81 {
    position:absolute;
    left:2px;
    top:270px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../办事大厅流程定制_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:3px;
    top:422px;
    width:128px;
    height:25px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u83 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../办事大厅流程定制_files/u82_normal.png');
}

.u84_container {
    position:absolute;
    left:3px;
    top:391px;
    width:128px;
    height:25px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u85 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../办事大厅流程定制_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:3px;
    top:453px;
    width:128px;
    height:28px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:34px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../办事大厅流程定制_files/u86_normal.png');
}

.u88_container {
    position:absolute;
    left:3px;
    top:486px;
    width:128px;
    height:28px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:34px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../办事大厅流程定制_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:3px;
    top:4px;
    width:134px;
    height:346px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:352px;
}

.u91 {
    position:absolute;
    left:2px;
    top:165px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../办事大厅流程定制_files/u82_normal.png');
}

.u92_container {
    position:absolute;
    left:5px;
    top:6px;
    width:128px;
    height:25px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u93 {
    position:absolute;
    left:2px;
    top:5px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../办事大厅流程定制_files/u82_normal.png');
}

.u94_container {
    position:absolute;
    left:3px;
    top:360px;
    width:128px;
    height:25px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:31px;
}

.u95 {
    position:absolute;
    left:2px;
    top:3px;
    width:124px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_selected {
    background-image: url('../办事大厅流程定制_files/u33_selected.png');
}

.u98_normal {
    background-image: url('../办事大厅流程定制_files/u33_normal.png');
}

.u98_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u99 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u100_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u101 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u103_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u103_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u104 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u106_selected {
    background-image: url('../办事大厅流程定制_files/u33_selected.png');
}

.u106_normal {
    background-image: url('../办事大厅流程定制_files/u33_normal.png');
}

.u106_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u107 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u108_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u109 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u111_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u111_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u112 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u114_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u114_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u115 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u116_normal {
    background-image: url('../办事大厅流程定制_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:202px;
    top:249px;
    width:760px;
    height:490px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:496px;
}

.u117 {
    position:absolute;
    left:2px;
    top:237px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../办事大厅流程定制_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:446px;
    top:182px;
    width:19px;
    height:16px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:22px;
}

.u119 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:471px;
    top:182px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../办事大厅流程定制_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:537px;
    top:182px;
    width:18px;
    height:16px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u122 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:565px;
    top:183px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../办事大厅流程定制_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:622px;
    top:182px;
    width:18px;
    height:16px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u125 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:650px;
    top:183px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../办事大厅流程定制_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:710px;
    top:182px;
    width:18px;
    height:16px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u128 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:738px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../办事大厅流程定制_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:218px;
    top:182px;
    width:18px;
    height:16px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u131 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:246px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../办事大厅流程定制_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:292px;
    top:182px;
    width:18px;
    height:16px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u134 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:320px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../办事大厅流程定制_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:367px;
    top:182px;
    width:18px;
    height:16px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:22px;
}

.u137 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:395px;
    top:183px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:390px;
    top:216px;
    width:372px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../办事大厅流程定制_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:230px;
    top:315px;
    width:41px;
    height:39px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:45px;
}

.u141 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../办事大厅流程定制_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:892px;
    top:316px;
    width:42px;
    height:36px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:42px;
}

.u143 {
    position:absolute;
    left:2px;
    top:10px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../办事大厅流程定制_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:304px;
    top:315px;
    width:96px;
    height:39px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:45px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../办事大厅流程定制_files/u144_normal.png');
}

.u146_container {
    position:absolute;
    left:452px;
    top:315px;
    width:96px;
    height:39px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:45px;
}

.u147 {
    position:absolute;
    left:2px;
    top:12px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../办事大厅流程定制_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:460px;
    top:403px;
    width:79px;
    height:29px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u149 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../办事大厅流程定制_files/u148_normal.png');
}

.u150_container {
    position:absolute;
    left:461px;
    top:460px;
    width:79px;
    height:29px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u151 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../办事大厅流程定制_files/u148_normal.png');
}

.u152_container {
    position:absolute;
    left:461px;
    top:516px;
    width:79px;
    height:29px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u153 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../办事大厅流程定制_files/u144_normal.png');
}

.u154_container {
    position:absolute;
    left:673px;
    top:314px;
    width:96px;
    height:39px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:45px;
}

.u155 {
    position:absolute;
    left:2px;
    top:12px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../办事大厅流程定制_files/u148_normal.png');
}

.u156_container {
    position:absolute;
    left:313px;
    top:408px;
    width:79px;
    height:29px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:35px;
}

.u157 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../办事大厅流程定制_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:657px;
    top:370px;
    width:88px;
    height:29px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u159 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../办事大厅流程定制_files/u158_normal.png');
}

.u160_container {
    position:absolute;
    left:657px;
    top:422px;
    width:88px;
    height:29px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u161 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../办事大厅流程定制_files/u158_normal.png');
}

.u162_container {
    position:absolute;
    left:657px;
    top:470px;
    width:88px;
    height:29px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u163 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164c0 {
    background-image: url('../办事大厅流程定制_files/u164c0.png');
}

.u164c0 {
    position:absolute;
    left:267px;
    top:324px;
    width:47px;
    height:20px;
}

.u165 {
    position:absolute;
    left:-34px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166c0 {
    background-image: url('../办事大厅流程定制_files/u166c0.png');
}

.u166c0 {
    position:absolute;
    left:396px;
    top:324px;
    width:66px;
    height:20px;
}

.u167 {
    position:absolute;
    left:-24px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168c0 {
    background-image: url('../办事大厅流程定制_files/u168c0.png');
}

.u168c0 {
    position:absolute;
    left:342px;
    top:350px;
    width:20px;
    height:68px;
}

.u169 {
    position:absolute;
    left:-50px;
    top:19px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170c0 {
    background-image: url('../办事大厅流程定制_files/u170c0.png');
}

.u170c0 {
    position:absolute;
    left:490px;
    top:350px;
    width:20px;
    height:63px;
}

.u171 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172c0 {
    background-image: url('../办事大厅流程定制_files/u172c0.png');
}

.u172c0 {
    position:absolute;
    left:490px;
    top:428px;
    width:20px;
    height:42px;
}

.u173 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174c0 {
    background-image: url('../办事大厅流程定制_files/u174c0.png');
}

.u174c0 {
    position:absolute;
    left:490px;
    top:485px;
    width:20px;
    height:41px;
}

.u175 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176c0 {
    background-image: url('../办事大厅流程定制_files/u176c0.png');
}

.u176c0 {
    position:absolute;
    left:711px;
    top:349px;
    width:20px;
    height:24px;
}

.u176c1 {
    background-image: url('../办事大厅流程定制_files/u176c1.png');
}

.u176c1 {
    position:absolute;
    left:691px;
    top:353px;
    width:40px;
    height:20px;
}

.u176c2 {
    background-image: url('../办事大厅流程定制_files/u176c2.png');
}

.u176c2 {
    position:absolute;
    left:691px;
    top:353px;
    width:20px;
    height:21px;
}

.u177 {
    position:absolute;
    left:-58px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178c0 {
    background-image: url('../办事大厅流程定制_files/u178c0.png');
}

.u178c0 {
    position:absolute;
    left:691px;
    top:395px;
    width:20px;
    height:37px;
}

.u179 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180c0 {
    background-image: url('../办事大厅流程定制_files/u180c0.png');
}

.u180c0 {
    position:absolute;
    left:691px;
    top:447px;
    width:20px;
    height:33px;
}

.u181 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../办事大厅流程定制_files/u158_normal.png');
}

.u182_container {
    position:absolute;
    left:657px;
    top:526px;
    width:88px;
    height:29px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u183 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../办事大厅流程定制_files/u158_normal.png');
}

.u184_container {
    position:absolute;
    left:657px;
    top:578px;
    width:88px;
    height:29px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u185 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../办事大厅流程定制_files/u158_normal.png');
}

.u186_container {
    position:absolute;
    left:657px;
    top:631px;
    width:88px;
    height:29px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:35px;
}

.u187 {
    position:absolute;
    left:2px;
    top:6px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188c0 {
    background-image: url('../办事大厅流程定制_files/u188c0.png');
}

.u188c0 {
    position:absolute;
    left:691px;
    top:495px;
    width:20px;
    height:41px;
}

.u189 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190c0 {
    background-image: url('../办事大厅流程定制_files/u190c0.png');
}

.u190c0 {
    position:absolute;
    left:691px;
    top:551px;
    width:20px;
    height:37px;
}

.u191 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192c0 {
    background-image: url('../办事大厅流程定制_files/u192c0.png');
}

.u192c0 {
    position:absolute;
    left:691px;
    top:603px;
    width:20px;
    height:38px;
}

.u193 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../办事大厅流程定制_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:586px;
    top:317px;
    width:55px;
    height:34px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:40px;
}

.u195 {
    position:absolute;
    left:2px;
    top:9px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196c0 {
    background-image: url('../办事大厅流程定制_files/u196c0.png');
}

.u196c0 {
    position:absolute;
    left:544px;
    top:324px;
    width:52px;
    height:20px;
}

.u197 {
    position:absolute;
    left:-31px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198c0 {
    background-image: url('../办事大厅流程定制_files/u198c0.png');
}

.u198c0 {
    position:absolute;
    left:604px;
    top:270px;
    width:20px;
    height:51px;
}

.u198c1 {
    background-image: url('../办事大厅流程定制_files/u198c1.png');
}

.u198c1 {
    position:absolute;
    left:342px;
    top:270px;
    width:282px;
    height:20px;
}

.u198c2 {
    background-image: url('../办事大厅流程定制_files/u198c2.png');
}

.u198c2 {
    position:absolute;
    left:342px;
    top:270px;
    width:20px;
    height:49px;
}

.u199 {
    position:absolute;
    left:-180px;
    top:-45px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200c0 {
    background-image: url('../办事大厅流程定制_files/u200c0.png');
}

.u200c0 {
    position:absolute;
    left:637px;
    top:324px;
    width:46px;
    height:20px;
}

.u201 {
    position:absolute;
    left:-34px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../办事大厅流程定制_files/u194_normal.png');
}

.u202_container {
    position:absolute;
    left:809px;
    top:317px;
    width:55px;
    height:34px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:40px;
}

.u203 {
    position:absolute;
    left:2px;
    top:9px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204c0 {
    background-image: url('../办事大厅流程定制_files/u204c0.png');
}

.u204c0 {
    position:absolute;
    left:765px;
    top:324px;
    width:54px;
    height:20px;
}

.u205 {
    position:absolute;
    left:-30px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206c0 {
    background-image: url('../办事大厅流程定制_files/u206c0.png');
}

.u206c0 {
    position:absolute;
    left:860px;
    top:324px;
    width:42px;
    height:20px;
}

.u207 {
    position:absolute;
    left:-36px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208c0 {
    background-image: url('../办事大厅流程定制_files/u208c0.png');
}

.u208c0 {
    position:absolute;
    left:826px;
    top:269px;
    width:20px;
    height:52px;
}

.u208c1 {
    background-image: url('../办事大厅流程定制_files/u208c1.png');
}

.u208c1 {
    position:absolute;
    left:490px;
    top:269px;
    width:356px;
    height:20px;
}

.u208c2 {
    background-image: url('../办事大厅流程定制_files/u208c2.png');
}

.u208c2 {
    position:absolute;
    left:490px;
    top:269px;
    width:20px;
    height:50px;
}

.u209 {
    position:absolute;
    left:-217px;
    top:-46px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210c0 {
    background-image: url('../办事大厅流程定制_files/u210c0.png');
}

.u210c0 {
    position:absolute;
    left:691px;
    top:656px;
    width:20px;
    height:24px;
}

.u210c1 {
    background-image: url('../办事大厅流程定制_files/u210c1.png');
}

.u210c1 {
    position:absolute;
    left:691px;
    top:660px;
    width:98px;
    height:20px;
}

.u210c2 {
    background-image: url('../办事大厅流程定制_files/u210c2.png');
}

.u210c2 {
    position:absolute;
    left:769px;
    top:324px;
    width:20px;
    height:356px;
}

.u210c3 {
    background-image: url('../办事大厅流程定制_files/u210c3.png');
}

.u210c3 {
    position:absolute;
    left:765px;
    top:324px;
    width:24px;
    height:20px;
}

.u211 {
    position:absolute;
    left:28px;
    top:-127px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212c0 {
    background-image: url('../办事大厅流程定制_files/u212c0.png');
}

.u212c0 {
    position:absolute;
    left:490px;
    top:541px;
    width:20px;
    height:24px;
}

.u212c1 {
    background-image: url('../办事大厅流程定制_files/u212c1.png');
}

.u212c1 {
    position:absolute;
    left:490px;
    top:545px;
    width:78px;
    height:20px;
}

.u212c2 {
    background-image: url('../办事大厅流程定制_files/u212c2.png');
}

.u212c2 {
    position:absolute;
    left:548px;
    top:324px;
    width:20px;
    height:241px;
}

.u212c3 {
    background-image: url('../办事大厅流程定制_files/u212c3.png');
}

.u212c3 {
    position:absolute;
    left:544px;
    top:324px;
    width:24px;
    height:20px;
}

.u213 {
    position:absolute;
    left:8px;
    top:-80px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214c0 {
    background-image: url('../办事大厅流程定制_files/u214c0.png');
}

.u214c0 {
    position:absolute;
    left:342px;
    top:433px;
    width:20px;
    height:34px;
}

.u214c1 {
    background-image: url('../办事大厅流程定制_files/u214c1.png');
}

.u214c1 {
    position:absolute;
    left:342px;
    top:447px;
    width:78px;
    height:20px;
}

.u214c2 {
    background-image: url('../办事大厅流程定制_files/u214c2.png');
}

.u214c2 {
    position:absolute;
    left:400px;
    top:324px;
    width:20px;
    height:143px;
}

.u214c3 {
    background-image: url('../办事大厅流程定制_files/u214c3.png');
}

.u214c3 {
    position:absolute;
    left:396px;
    top:324px;
    width:24px;
    height:20px;
}

.u215 {
    position:absolute;
    left:8px;
    top:-16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:449px;
    top:687px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u217 {
    position:absolute;
    left:560px;
    top:687px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u218_normal {
    background-image: url('../办事大厅流程定制_files/u218_normal.png');
}

.u218_container {
    position:absolute;
    left:43px;
    top:41px;
    width:922px;
    height:27px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:33px;
}

.u219 {
    position:absolute;
    left:2px;
    top:6px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../办事大厅流程定制_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:43px;
    top:69px;
    width:922px;
    height:71px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:77px;
}

.u221 {
    position:absolute;
    left:2px;
    top:28px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:125px;
    top:88px;
    width:586px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:711px;
    top:90px;
    width:141px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 14px;
    color:#6B6B6B;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u224_container {
    position:absolute;
    left:865px;
    top:88px;
    width:54px;
    height:27px;
}

#u224_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:27px;
}

.u225 {
    position:absolute;
    left:2px;
    top:6px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:761px;
    top:45px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:797px;
    top:45px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../办事大厅流程定制_files/u228_normal.png');
}

.u228_container {
    position:absolute;
    left:745px;
    top:41px;
    width:219px;
    height:22px;
}

#u228_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:22px;
}

.u229 {
    position:absolute;
    left:2px;
    top:3px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../办事大厅流程定制_files/u230_normal.png');
}

.u230_container {
    position:absolute;
    left:43px;
    top:141px;
    width:922px;
    height:31px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:928px;
    height:37px;
}

.u231 {
    position:absolute;
    left:2px;
    top:8px;
    width:918px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232 {
    position:absolute;
    left:435px;
    top:149px;
    width:105px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:101px;
    top:149px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:888px;
    top:148px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:811px;
    top:148px;
    width:81px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:733px;
    top:148px;
    width:81px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:153px;
    top:149px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:543px;
    top:148px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:327px;
    top:149px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:618px;
    top:148px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_normal {
    background-image: url('../办事大厅流程定制_files/u241_normal.png');
}

.u241_container {
    position:absolute;
    left:723px;
    top:142px;
    width:79px;
    height:30px;
}

#u241_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:36px;
}

.u242 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:231px;
    top:149px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

